.bazi {
  height: auto;
}
.bazi .pan {
  height: 100vh;
}
.bazi .bazi-btn {
  width: 100%;
  height: 80rpx;
  line-height: 80rpx;
  text-align: center;
}
.bazi .sex-box {
  text-align: center;
  margin-top: 30rpx;
}
.bazi .sex {
  width: 100%;
  height: 80rpx;
  line-height: 80rpx;
  display: flex;
  justify-content: center;
}
.bazi .btn-box {
  width: 90%;
  margin: 30rpx auto;
}
.bazi .btn-box .btn {
  background: #8a6e17;
  border: none;
}
.bazi .birthday {
  background: linear-gradient(-90deg, #8a6e17, #b69626);
  padding: 20rpx;
  text-align: center;
  color: #fff;
}
.bazi .birthday .qian {
  background: #fff;
  color: #8a6e17;
}
.bazi .base-zhu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  background: none;
  align-items: center;
}
.bazi .base-zhu .base-zhu-text {
  padding: 0 30rpx;
  text-align: center;
}
.bazi .pro-zhu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  background: none;
  align-items: center;
}
.bazi .pro-zhu .pro-zhu-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .base-zhuxing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  align-items: center;
  background: #f5f5f5;
}
.bazi .base-zhuxing .base-zhuxing-text {
  padding: 0 30rpx;
  text-align: center;
}
.bazi .pro-zhuxing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  align-items: center;
  background: #f5f5f5;
}
.bazi .pro-zhuxing .pro-zhuxing-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .base-tiangan {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120rpx;
  align-items: center;
}
.bazi .base-tiangan .base-tiangan-text-tit {
  font-size: 28rpx;
  padding: 0 30rpx;
  text-align: center;
}
.bazi .base-tiangan .base-tiangan-text {
  padding: 0 20rpx;
  text-align: center;
  font-size: 50rpx;
}
.bazi .pro-tiangan {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120rpx;
  align-items: center;
}
.bazi .pro-tiangan .pro-tiangan-text-tit {
  font-size: 28rpx;
  padding: 0 20rpx;
  text-align: center;
}
.bazi .pro-tiangan .pro-tiangan-text {
  padding: 0 16rpx;
  text-align: center;
  font-size: 40rpx;
}
.bazi .base-dizhi {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120rpx;
  align-items: center;
  background: #f5f5f5;
}
.bazi .base-dizhi .base-dizhi-text-tit {
  font-size: 28rpx;
  padding: 0 30rpx;
  text-align: center;
}
.bazi .base-dizhi .base-dizhi-text {
  padding: 0 20rpx;
  text-align: center;
  font-size: 50rpx;
}
.bazi .pro-dizhi {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120rpx;
  align-items: center;
  background: #f5f5f5;
}
.bazi .pro-dizhi .pro-dizhi-text-tit {
  font-size: 28rpx;
  padding: 0 20rpx;
  text-align: center;
}
.bazi .pro-dizhi .pro-dizhi-text {
  padding: 0 16rpx;
  text-align: center;
  font-size: 40rpx;
}
.bazi .base-canggan {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120rpx;
  padding: 10rpx 0;
}
.bazi .base-canggan .base-canggan-text {
  padding: 0 30rpx;
  text-align: center;
}
.bazi .pro-canggan {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10rpx 0;
}
.bazi .pro-canggan .pro-canggan-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .pro-canggan .base-canggan-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .base-shishen {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120rpx;
  background: #f5f5f5;
  padding: 10rpx 0;
}
.bazi .base-shishen .base-shishen-text {
  padding: 0 30rpx;
  text-align: center;
}
.bazi .pro-shishen {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 10rpx 0;
}
.bazi .pro-shishen .pro-shishen-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .base-xingyun {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  align-items: center;
}
.bazi .base-xingyun .base-xingyun-text {
  width: 120rpx;
  text-align: center;
}
.bazi .pro-xingyun {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  align-items: center;
}
.bazi .pro-xingyun .pro-xingyun-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .base-zizuo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  background: #f5f5f5;
  align-items: center;
}
.bazi .base-zizuo .base-zizuo-text {
  width: 120rpx;
  text-align: center;
}
.bazi .pro-zizuo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  background: #f5f5f5;
  align-items: center;
}
.bazi .pro-zizuo .pro-zizuo-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .base-nayin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  background: #f5f5f5;
  align-items: center;
}
.bazi .base-nayin .base-nayin-text {
  width: 120rpx;
  text-align: center;
}
.bazi .pro-nayin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  background: #f5f5f5;
  align-items: center;
}
.bazi .pro-nayin .pro-nayin-text-tit {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .pro-nayin .pro-nayin-text {
  padding: 0 16rpx;
  text-align: center;
  font-size: 26rpx;
}
.bazi .base-kongwang {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  align-items: center;
}
.bazi .base-kongwang .base-kongwang-text {
  width: 120rpx;
  text-align: center;
}
.bazi .pro-kongwang {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  align-items: center;
}
.bazi .pro-kongwang .pro-kongwang-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .base-shensha {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10rpx 0;
}
.bazi .base-shensha .base-shensha-text-tit {
  padding: 0 30rpx;
  text-align: center;
}
.bazi .base-shensha .base-shensha-text {
  padding: 0 30rpx 0 10rpx;
  text-align: center;
  color: #b69626;
}
.bazi .pro-shensha {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10rpx 0;
}
.bazi .pro-shensha .pro-shensha-text-tit {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .pro-shensha .pro-shensha-text {
  padding: 0 20rpx 0 20rpx;
  font-size: 18rpx;
  text-align: center;
  color: #b69626;
}
.bazi .base-liuyi {
  width: 100%;
  padding-left: 30rpx;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20rpx;
}
.bazi .base-liuyi .base-liuyi-text-tit {
  padding: 0;
  margin-right: 30rpx;
  background: #8a6e17;
  padding: 10px;
  font-weight: bold;
}
.bazi .base-liuyi .base-liuyi-text {
  padding: 0 30rpx 10rpx 0;
  text-align: center;
  font-size: 24rpx;
  line-height: 60rpx;
}
.bazi .pro-yun {
  margin: 20rpx 0;
}
.bazi .pro-yun .pro-yun-qiyun {
  padding: 20rpx;
}
.bazi .pro-yun .pro-yun-qiyun .jin {
  background: #fff;
  color: #8a6e17;
  border: 1px solid #8a6e17;
  margin-left: 20rpx;
}
.bazi .pro-yun .pro-yun-dayun {
  padding: 10rpx 0;
}
.bazi .pro-yun .pro-yun-dayun .pro-yun-dayun-tit {
  text-align: center;
  font-size: 36rpx;
  font-weight: bold;
  padding: 10rpx;
  width: 60rpx;
  height: 230rpx;
  display: flex;
  align-items: center;
  border-right: 1px solid #ccc;
}
.bazi .pro-yun .pro-yun-dayun .pro-yun-dayun-content {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  text-align: center;
}
.bazi .pro-yun .pro-yun-dayun .pro-yun-dayun-content .active {
  background: #f5f5f5;
}
.bazi .pro-yun .pro-yun-dayun .pro-yun-dayun-content .pro-yun-dayun-item {
  border-right: 1px solid #ccc;
  text-align: center;
  padding: 10rpx;
  font-weight: bold;
  height: 230rpx;
  font-size: 32rpx;
}
.bazi .pro-yun .pro-yun-dayun .pro-yun-dayun-content .pro-yun-dayun-item .pro-yun-dayun-age {
  font-size: 20rpx;
}
.bazi .pro-yun .pro-yun-dayun .pro-yun-dayun-content .pro-yun-dayun-item .shishen {
  font-size: 18rpx;
  display: block;
  font-weight: normal;
}
.bazi .pro-yun .pro-yun-dayun .pro-yun-dayun-content .pro-yun-dayun-item .xiaoyun {
  writing-mode: vertical-lr;
}
.bazi .pro-yun .pro-yun-liunian {
  padding: 10rpx 0;
}
.bazi .pro-yun .pro-yun-liunian .pro-yun-liunian-tit {
  text-align: center;
  font-size: 36rpx;
  font-weight: bold;
  padding: 10rpx;
  max-width: 45px;
  height: 170rpx;
  border-right: 1px solid #ccc;
  display: flex;
  align-items: center;
}
.bazi .pro-yun .pro-yun-liunian .pro-yun-liunian-content {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  text-align: center;
}
.bazi .pro-yun .pro-yun-liunian .pro-yun-liunian-content .active {
  background: #f5f5f5;
}
.bazi .pro-yun .pro-yun-liunian .pro-yun-liunian-content .pro-yun-liunian-item {
  border-right: 1px solid #ccc;
  text-align: center;
  height: 170rpx;
  padding: 10rpx;
  font-size: 28rpx;
  font-weight: bold;
}
.bazi .pro-yun .pro-yun-liunian .pro-yun-liunian-content .pro-yun-liunian-item .shishen {
  font-size: 18rpx;
  font-weight: normal;
  display: block;
}
.bazi .pro-yun .pro-yun-liunian .pro-yun-liunian-content .pro-yun-liunian-item .xiaoyun {
  writing-mode: vertical-lr;
}
.bazi .bold {
  font-weight: bold;
}
.bazi .jin {
  color: #e89126;
}
.bazi .mu {
  color: #30d04f;
}
.bazi .shui {
  color: #3287ef;
}
.bazi .huo {
  color: #d40719;
}
.bazi .tu {
  color: #8a6e17;
}
.taroify-tabs__line {
  width: var(--tabs-line-width, 100%);
  background: #8a6e17;
}
.taroify-radio__icon--checked .taroify-icon {
  background: #8a6e17;
  border: none;
}
.taroify-picker__confirm {
  color: #8a6e17;
}
.taroify-radio__icon .taroify-icon {
  border: 2rpx solid var(--radio-border-color, var(--gray-5, #c8c9cc));
}
