.bazi {
  height: auto;
}
.bazi .pan {
  height: 100vh;
}
.bazi .bazi-btn {
  width: 100%;
  height: 80rpx;
  line-height: 80rpx;
  text-align: center;
}
.bazi .sex-box {
  text-align: center;
  margin-top: 30rpx;
}
.bazi .sex {
  width: 100%;
  height: 80rpx;
  line-height: 80rpx;
  display: flex;
  justify-content: center;
}
.bazi .btn-box {
  width: 90%;
  margin: 30rpx auto;
}
.bazi .birthday {
  background: linear-gradient(-90deg, #8a6e17, #b69626);
  padding: 20rpx;
  text-align: center;
  color: #fff;
}
.bazi .birthday .qian {
  background: #fff;
  color: #8a6e17;
}
.bazi .base-zhu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  background: none;
  align-items: center;
}
.bazi .base-zhu .base-zhu-text {
  padding: 0 30rpx;
  text-align: center;
}
.bazi .pro-zhu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  background: none;
  align-items: center;
}
.bazi .pro-zhu .pro-zhu-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .base-zhuxing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  align-items: center;
  background: #f5f5f5;
}
.bazi .base-zhuxing .base-zhuxing-text {
  padding: 0 30rpx;
  text-align: center;
}
.bazi .pro-zhuxing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  align-items: center;
  background: #f5f5f5;
}
.bazi .pro-zhuxing .pro-zhuxing-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .base-tiangan {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120rpx;
  align-items: center;
}
.bazi .base-tiangan .base-tiangan-text-tit {
  font-size: 28rpx;
  padding: 0 30rpx;
  text-align: center;
}
.bazi .base-tiangan .base-tiangan-text {
  padding: 0 20rpx;
  text-align: center;
  font-size: 50rpx;
}
.bazi .pro-tiangan {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120rpx;
  align-items: center;
}
.bazi .pro-tiangan .pro-tiangan-text-tit {
  font-size: 28rpx;
  padding: 0 20rpx;
  text-align: center;
}
.bazi .pro-tiangan .pro-tiangan-text {
  padding: 0 16rpx;
  text-align: center;
  font-size: 40rpx;
}
.bazi .base-dizhi {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120rpx;
  align-items: center;
  background: #f5f5f5;
}
.bazi .base-dizhi .base-dizhi-text-tit {
  font-size: 28rpx;
  padding: 0 30rpx;
  text-align: center;
}
.bazi .base-dizhi .base-dizhi-text {
  padding: 0 20rpx;
  text-align: center;
  font-size: 50rpx;
}
.bazi .pro-dizhi {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120rpx;
  align-items: center;
  background: #f5f5f5;
}
.bazi .pro-dizhi .pro-dizhi-text-tit {
  font-size: 28rpx;
  padding: 0 20rpx;
  text-align: center;
}
.bazi .pro-dizhi .pro-dizhi-text {
  padding: 0 16rpx;
  text-align: center;
  font-size: 40rpx;
}
.bazi .base-canggan {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120rpx;
  padding: 10rpx 0;
}
.bazi .base-canggan .base-canggan-text {
  padding: 0 30rpx;
  text-align: center;
}
.bazi .pro-canggan {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10rpx 0;
}
.bazi .pro-canggan .pro-canggan-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .pro-canggan .base-canggan-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .base-shishen {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120rpx;
  background: #f5f5f5;
  padding: 10rpx 0;
}
.bazi .base-shishen .base-shishen-text {
  padding: 0 30rpx;
  text-align: center;
}
.bazi .pro-shishen {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 10rpx 0;
}
.bazi .pro-shishen .pro-shishen-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .base-xingyun {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  align-items: center;
}
.bazi .base-xingyun .base-xingyun-text {
  width: 120rpx;
  text-align: center;
}
.bazi .pro-xingyun {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  align-items: center;
}
.bazi .pro-xingyun .pro-xingyun-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .base-zizuo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  background: #f5f5f5;
  align-items: center;
}
.bazi .base-zizuo .base-zizuo-text {
  width: 120rpx;
  text-align: center;
}
.bazi .pro-zizuo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  background: #f5f5f5;
  align-items: center;
}
.bazi .pro-zizuo .pro-zizuo-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .base-nayin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  background: #f5f5f5;
  align-items: center;
}
.bazi .base-nayin .base-nayin-text {
  width: 120rpx;
  text-align: center;
}
.bazi .pro-nayin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  background: #f5f5f5;
  align-items: center;
}
.bazi .pro-nayin .pro-nayin-text-tit {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .pro-nayin .pro-nayin-text {
  padding: 0 16rpx;
  text-align: center;
  font-size: 26rpx;
}
.bazi .base-kongwang {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  align-items: center;
}
.bazi .base-kongwang .base-kongwang-text {
  width: 120rpx;
  text-align: center;
}
.bazi .pro-kongwang {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50rpx;
  align-items: center;
}
.bazi .pro-kongwang .pro-kongwang-text {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .base-shensha {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10rpx 0;
}
.bazi .base-shensha .base-shensha-text-tit {
  padding: 0 30rpx;
  text-align: center;
}
.bazi .base-shensha .base-shensha-text {
  padding: 0 30rpx 0 10rpx;
  text-align: center;
  color: #b69626;
}
.bazi .pro-shensha {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10rpx 0;
}
.bazi .pro-shensha .pro-shensha-text-tit {
  padding: 0 20rpx;
  text-align: center;
}
.bazi .pro-shensha .pro-shensha-text {
  padding: 0 30rpx 0 10rpx;
  font-size: 18rpx;
  text-align: center;
  color: #b69626;
}
.bazi .base-liuyi {
  width: 100%;
  padding-left: 30rpx;
  display: flex;
  flex-wrap: wrap;
}
.bazi .base-liuyi .base-liuyi-text-tit {
  padding: 0 30rpx 0 0;
}
.bazi .base-liuyi .base-liuyi-text {
  padding: 0 30rpx 10rpx 0;
  text-align: center;
}
.bazi .bold {
  font-weight: bold;
}
.bazi .jin {
  color: #e89126;
}
.bazi .mu {
  color: #30d04f;
}
.bazi .shui {
  color: #3287ef;
}
.bazi .huo {
  color: #d40719;
}
.bazi .tu {
  color: #8a6e17;
}
.taroify-tabs__line {
  width: var(--tabs-line-width, 100%);
  background: #8a6e17;
}
