.bazi {
  height: auto;
  .pan {
    height: 100vh;
  }
  .bazi-btn {
    width: 100%;
    height: 80rpx;
    line-height: 80rpx;
    text-align: center;
  }
  .sex-box {
    text-align: center;
    margin-top: 30rpx;
  }
  .sex {
    width: 100%;
    height: 80rpx;
    line-height: 80rpx;
    display: flex;
    justify-content: center;
  }
  .btn-box {
    width: 90%;
    margin: 30rpx auto;
    .btn {
      background: #8a6e17;
      border: none;
    }
  }
  .date-pick-box {
    // display: none;
  }
  .birthday {
    background: linear-gradient(-90deg, #8a6e17, #b69626);
    padding: 20rpx;
    text-align: center;
    color: #fff;
    .qian {
      background: #fff;
      color: #8a6e17;
    }
  }
  .base-zhu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50rpx;
    background: none;
    align-items: center;
    .base-zhu-text {
      padding: 0 30rpx;
      text-align: center;
    }
  }
  .pro-zhu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50rpx;
    background: none;
    align-items: center;
    .pro-zhu-text {
      padding: 0 20rpx;
      text-align: center;
    }
  }
  .base-zhuxing {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50rpx;
    align-items: center;
    background: #f5f5f5;
    .base-zhuxing-text {
      padding: 0 30rpx;
      text-align: center;
    }
  }
  .pro-zhuxing {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50rpx;
    align-items: center;
    background: #f5f5f5;
    .pro-zhuxing-text {
      padding: 0 20rpx;
      text-align: center;
    }
  }
  .base-tiangan {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 120rpx;
    align-items: center;
    .base-tiangan-text-tit {
      font-size: 28rpx;
      padding: 0 30rpx;
      text-align: center;
    }
    .base-tiangan-text {
      padding: 0 20rpx;
      text-align: center;
      font-size: 50rpx;
    }
  }
  .pro-tiangan {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 120rpx;
    align-items: center;
    .pro-tiangan-text-tit {
      font-size: 28rpx;
      padding: 0 20rpx;
      text-align: center;
    }
    .pro-tiangan-text {
      padding: 0 16rpx;
      text-align: center;
      font-size: 40rpx;
    }
  }
  .base-dizhi {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 120rpx;
    align-items: center;
    background: #f5f5f5;
    .base-dizhi-text-tit {
      font-size: 28rpx;
      padding: 0 30rpx;
      text-align: center;
    }
    .base-dizhi-text {
      padding: 0 20rpx;
      text-align: center;
      font-size: 50rpx;
    }
  }
  .pro-dizhi {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 120rpx;
    align-items: center;
    background: #f5f5f5;
    .pro-dizhi-text-tit {
      font-size: 28rpx;
      padding: 0 20rpx;
      text-align: center;
    }
    .pro-dizhi-text {
      padding: 0 16rpx;
      text-align: center;
      font-size: 40rpx;
    }
  }

  .base-canggan {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 120rpx;
    padding: 10rpx 0;
    .base-canggan-text {
      padding: 0 30rpx;
      text-align: center;
    }
  }
  .pro-canggan {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // height: 120rpx;
    padding: 10rpx 0;
    .pro-canggan-text {
      padding: 0 20rpx;
      text-align: center;
    }
    .base-canggan-text {
      padding: 0 20rpx;
      text-align: center;
    }
  }
  .base-shishen {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 120rpx;
    background: #f5f5f5;
    padding: 10rpx 0;
    .base-shishen-text {
      padding: 0 30rpx;
      text-align: center;
    }
  }
  .pro-shishen {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // height: 120rpx;
    background: #f5f5f5;
    padding: 10rpx 0;
    .pro-shishen-text {
      padding: 0 20rpx;
      text-align: center;
    }
  }
  .base-xingyun {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50rpx;
    align-items: center;
    .base-xingyun-text {
      width: 120rpx;
      text-align: center;
    }
  }
  .pro-xingyun {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50rpx;
    align-items: center;
    .pro-xingyun-text {
      padding: 0 20rpx;
      // width: 100rpx;
      text-align: center;
    }
  }
  .base-zizuo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50rpx;
    background: #f5f5f5;
    align-items: center;
    .base-zizuo-text {
      width: 120rpx;
      text-align: center;
    }
  }
  .pro-zizuo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50rpx;
    background: #f5f5f5;
    align-items: center;
    .pro-zizuo-text {
      padding: 0 20rpx;
      text-align: center;
    }
  }
  .base-nayin {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50rpx;
    background: #f5f5f5;
    align-items: center;
    .base-nayin-text {
      width: 120rpx;
      text-align: center;
    }
  }
  .pro-nayin {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50rpx;
    background: #f5f5f5;
    align-items: center;
    .pro-nayin-text-tit {
      padding: 0 20rpx;
      text-align: center;
    }
    .pro-nayin-text {
      // width: 120rpx;
      padding: 0 16rpx;
      text-align: center;
      font-size: 26rpx;
    }
  }
  .base-kongwang {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50rpx;
    align-items: center;
    .base-kongwang-text {
      width: 120rpx;
      text-align: center;
    }
  }
  .pro-kongwang {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50rpx;
    align-items: center;
    .pro-kongwang-text {
      padding: 0 20rpx;
      text-align: center;
    }
  }
  .base-shensha {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10rpx 0;
    .base-shensha-text-tit {
      padding: 0 30rpx;
      text-align: center;
    }
    .base-shensha-text {
      padding: 0 30rpx 0 10rpx;
      text-align: center;
      color: #b69626;
    }
  }
  .pro-shensha {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10rpx 0;
    .pro-shensha-text-tit {
      padding: 0 20rpx;
      text-align: center;
    }
    .pro-shensha-text {
      padding: 0 20rpx 0 20rpx;
      font-size: 18rpx;
      text-align: center;
      color: #b69626;
    }
  }
  .base-liuyi {
    width: 100%;
    padding-left: 30rpx;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20rpx;
    .base-liuyi-text-tit {
      padding: 0;
      margin-right: 30rpx;
      background: #8a6e17;
      padding: 10px;
      font-weight: bold;
    }
    .base-liuyi-view {
      margin-right: 20rpx;
    }
    .base-liuyi-text {
      padding: 0 30rpx 10rpx 0;
      text-align: center;
      font-size: 24rpx;
      line-height: 60rpx;
    }
  }
  .pro-yun {
    margin: 20rpx 0;
    .pro-yun-qiyun {
      padding: 20rpx;
      .jin {
        background: #fff;
        color: #8a6e17;
        border: 1px solid #8a6e17;
        margin-left: 20rpx;
      }
    }
    .pro-yun-dayun {
      padding: 10rpx 0;

      .pro-yun-dayun-tit {
        text-align: center;
        font-size: 36rpx;
        font-weight: bold;
        padding: 10rpx;
        width: 60rpx;
        height: 230rpx;
        display: flex;
        align-items: center;
        border-right: 1px solid #ccc;
      }
      .pro-yun-dayun-content {
        display: flex;
        justify-content: flex-start;
        overflow-x: scroll;
        text-align: center;
        .active {
          background: #f5f5f5;
        }
        .pro-yun-dayun-item {
          border-right: 1px solid #ccc;
          text-align: center;
          padding: 10rpx;
          font-weight: bold;
          height: 230rpx;
          font-size: 32rpx;

          .pro-yun-dayun-age {
            font-size: 20rpx;
          }
          .shishen {
            font-size: 18rpx;
            display: block;
            font-weight: normal;
          }
          .xiaoyun {
            writing-mode: vertical-lr;
          }
        }
      }
    }
    .pro-yun-liunian {
      padding: 10rpx 0;

      .pro-yun-liunian-tit {
        text-align: center;
        font-size: 36rpx;
        font-weight: bold;
        padding: 10rpx;
        max-width: 45px;
        height: 170rpx;
        border-right: 1px solid #ccc;
        display: flex;
        align-items: center;
      }
      .pro-yun-liunian-content {
        display: flex;
        justify-content: flex-start;
        overflow-x: scroll;
        text-align: center;
        .active {
          background: #f5f5f5;
        }
        .pro-yun-liunian-item {
          border-right: 1px solid #ccc;
          text-align: center;
          height: 170rpx;
          padding: 10rpx;
          font-size: 28rpx;
          font-weight: bold;
          .shishen {
            font-size: 18rpx;
            font-weight: normal;
            display: block;
          }
          .xiaoyun {
            writing-mode: vertical-lr;
          }
        }
      }
    }
  }
  .bold {
    font-weight: bold;
  }
  .jin {
    color: #e89126;
  }
  .mu {
    color: #30d04f;
  }
  .shui {
    color: #3287ef;
  }
  .huo {
    color: #d40719;
  }
  .tu {
    color: #8a6e17;
  }
}
.taroify-tabs__line {
  width: var(--tabs-line-width, 100%);
  background: #8a6e17;
}
.taroify-radio__icon--checked .taroify-icon {
  background: #8a6e17;
  border: none;
}
.taroify-picker__confirm {
  color: #8a6e17;
}

.taroify-radio__icon .taroify-icon {
  border: 2rpx solid var(--radio-border-color, var(--gray-5, #c8c9cc));
}
