.index {
  flex-direction: column;
  width: 90%;
  padding: 5%;
}
.index .calendar-banner {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto 30px auto;
  background: rgba(50, 161, 74, 0.1);
}
.index .grid-image {
  width: 100%;
  height: 100%;
}
.index .grid-text {
  margin-top: 20px;
}
.nav-custom-color {
  --tabbar-item-color: #000;
  --tabbar-item-active-color: #32a14a;
}
